.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .item {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .item p {
    margin: 5px 0;
  }
  